[v-cloak] {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Helvetica Neue', Tahoma, Arial, PingFangSC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  line-height: 1.2;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  text-size-adjust: none;
}

body,
ol,
ul,
dl,
dd,
button {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

/*https://www.w3cplus.com/mobile/vw-layout-in-vue.html*/
img {
  content: normal !important;
  max-width: 100%;
  vertical-align: middle;
}

textarea {
  resize: none;
}

select {
  background-color: transparent;
  appearance: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: button;  /* iOS下的样式问题 */
}

/* 干掉自动填充的黄色背景 */
input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
}

.shellAnimation {
  animation: shellPulse 1s infinite;
}

@keyframes shellPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
